# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Misc User Folders
exploration/

# Virtual environments
.venv/
venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Testing
.pytest_cache/
.coverage

# Editors
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Notebooks
*.ipynb_checkpoints/

# Generated PDF outputs
_processed/
_processed_*/

# Inputs
_unprocessed
